.navbar-brand {
  font-size: 2rem;
}
.second-row-column-3
{
  padding-right: 0;
}

.icons {
  color:black;
  margin-bottom: 15px;
}
.icons:hover
{
  color:#ee6f57;
}
.testimonial-head
{
  color: white;
  width: 80%;
  padding-left:21%;
  padding-bottom: 5%;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;


}
.pricing-head
{
  text-align: center;
  margin-top: 40px;
}
.p-para
{
  font-size: 1rem;
}
.p-head
{
  font-family:  'Montserrat', sans-serif;
  font-size: 3rem;
}
.main
{
  padding:50px 100px 100px 100px;
}
.testimonial-image
{
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-right: 15px;
}
#testimonials
{
  background-color:#ee6f57;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
#press
{
  background-color:#ee6f57;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.orange
{
  width:100px;
  height:40px;
  margin-left: 40px;
  margin-right: 40px;
}

.first-row {
  margin-top: 2rem;

}
.text
{
  font-family: 'Montserrat', sans-serif;
}


.container-fluid {
  padding: 3%;
  padding-left: 15%;
  padding-bottom: 0;
  font-family: 'Monoton', cursive;
}

.column {
  text-align: center;
}

.second-row {

  padding: 10%;

}
.apple,.play
{
  padding:6px;
}
.prompt
{
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 1.2;
  font-size: 3rem;
  margin:0 300px 80px 300px;
}
#cta
{
  text-align: center;
  background-color:#ee6f57;
  padding-top: 150px;
  padding-bottom: 100px;
}
.button1,.button2
{
  margin:30px;
}


#features
{

  background-color: white;
  position: relative;
  z-index: 1;

}

.image-phone {
  width: 50%;
  transform:rotate(20deg);
  position:relative;
  top:50px;
  right:70px;

}

.nav-item {
  padding: 0 18px;
}

.proxy {
  margin-right: 20px;
  margin-top: 15px;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar {
  padding: 0px;
}

#footer
{
  text-align: center;
}
.img
{
  padding-left:40px;
  padding-right:40px;
}
.icns
{
  margin-top: 100px;
  margin-bottom: 40px;
}
